@if (isLoading()) {
  <div class="text-center my-5">
    <div class="spinner-border text-warning" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}
@else {
  <div class="row">
    @for (show of tvShows(); track show.id) {
      <div class="col-6 col-md-3 col-lg-2 mb-5">
        <p-card [style]="{ overflow: 'hidden', height: '450px' }" class="position-relative">
          <ng-template #header>
            <a [routerLink]="['tv-details', show.id]">
              <img [src]="'https://image.tmdb.org/t/p/w500' + show.poster_path" alt="Poster" class="w-100"
                style="height: 300px; object-fit: cover;" />
            </a>
            <p-badge [value]="show.vote_average.toFixed(1)" badgeSize="xlarge" severity="contrast"
              [styleClass]="getRating(show.vote_average)" class="position-absolute end-0"></p-badge>
          </ng-template>
          <div class="position-relative">
            <a [routerLink]="['tv-details', show.id]" class="nav-link">
              <span class="movie-title">{{ show.name }}</span>
            </a>
            <p class="release-date">
              {{ show.first_air_date }}
            </p>
            <button (click)="watchListStore.toggleWatchList(show)"
              class="position-absolute top-50 start-100 nav-link me-2 watchlist">
              <i [ngClass]="
                      watchListStore.isInWatchList(show.id)()
                        ? 'pi pi-heart-fill text-warning'
                        : 'pi pi-heart'
                    "></i>
            </button>
          </div>
        </p-card>
      </div>
    }
    @empty {
      <div class="col-12 text-center">
        <p>{{ translateService.translate('NoTvShows') }}</p>
      </div>
    }
  </div>
<div class="mb-5">
    <p-paginator [rows]="rows" [totalRecords]="totalResults()" [first]="(currentPage() - 1) * rows"
      (onPageChange)="onPageChange($event)" >
    </p-paginator>
</div>
}
